Source: odio-edit
Section: sound
Priority: optional
Maintainer: Robert Tari <robert@tari.in>
Build-Depends: debhelper (>= 10), gcc, gettext, libgstreamer-plugins-base1.0-dev, libgtk-3-dev, libodiosacd
Standards-Version: 4.1.2
Homepage: https://tari.in/www/software/odio-edit/

Package: odio-edit
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libgstreamer-plugins-base1.0-0, gstreamer1.0-libav, libgtk-3-0, dconf-gsettings-backend | gsettings-backend, libodiosacd
Description: A lightweight audio wave editor
 A light and fast audio editor with a simple GTK+ interface.
 Works with all media formats recognised by your GStreamer
 installation. The application can cut, crop, mix and fade audio,
 with the ability to undo/redo any number of steps.
